body {
  margin: 0;
}
body button,
body i, body :hover {
  cursor: pointer;
}

.first-part-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1770px;
  width: 100%;
  max-height: 1640px;
  padding: 20px;
}
.first-part-container h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 9.6px;
  text-transform: uppercase;
}
.first-part-container h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 13.64px;
}

.first-part-container:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: url(../images/image1.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #ffffff;
}

.search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-section input {
  max-width: 403px;
  width: 100%;
  height: 43px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #fff;
  text-align: center;
}
.search-section button {
  width: 403px;
  height: 48px;
  fill: #5474fd;
  stroke-width: 4px;
  stroke: #fff;
  background-color: #5474fd;
  color: #fff;
  text-align: center;
  font-family: "Aleo", serif;
  font-size: 12px;
  font-style: normal;
  line-height: 52px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Josefin Sans", sans-serif;
  color: #FFF;
  font-size: 18px;
}

.second-part {
  max-width: 1770px;
  width: 100%;
  height: 685px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  padding: 20px;
}

.second-part:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: url(../images/Rectangle41444.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #ffffff;
}

.text-second {
  max-width: 560px;
}
.text-second h3 {
  color: #fff;
  font-family: "Aleo", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
}
.text-second p {
  color: #e8e8e8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 3.2px;
}
.text-second button {
  background-color: #496bfe;
  font-family: "Aleo", serif;
  color: #fff;
  width: 179px;
  height: 26px;
}

.images-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.images-second .moving-img {
  position: relative;
  right: 80px;
}

.down-second {
  max-width: 1773px;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
}
.down-second .down1,
.down-second .down2,
.down-second .down3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 353px;
  height: 163px;
}
.down-second .down1 p,
.down-second .down2 p,
.down-second .down3 p {
  color: #e8e8e8;
  font-family: "Aleo", serif;
  font-size: 25px;
}
.down-second .down1 i {
  color: #5474fd;
  font-size: 50px;
}
.down-second .down2 i {
  color: #ff6363;
  font-size: 50px;
}
.down-second .down3 i {
  color: #00a2ff;
  font-size: 50px;
}

nav {
  max-width: 1770px;
  width: 100%;
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #5474FD;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav h3 {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul li {
  width: 117px;
  height: 26px;
  color: #FFF;
  text-transform: uppercase;
  font-family: "Aleo", serif;
  font-size: 13px;
  padding: 10px;
}

.third {
  max-width: 1770px;
  height: 685px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  padding: 20px;
}
.third .text-third {
  width: 543px;
  height: 374px;
  background-color: #232323;
  opacity: 0.9;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
  position: relative;
  right: 250px;
  top: 60px;
}
.third .text-third h6 {
  font-size: 20px;
}
.third .text-third h5 {
  font-size: 23px;
}
.third .text-third p {
  line-height: 25px;
  font-size: 15px;
}
.third .text-third button {
  width: 156px;
  height: 56px;
  background-color: #5474FD;
  color: #ffffff;
  font-family: "Aleo", serif;
}

.third:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: url(../images/Rectangle\ 41445.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #ffffff;
}

.fourth {
  max-width: 1770px;
  height: 685px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  padding: 20px;
}
.fourth .text-fourth {
  width: 543px;
  height: 374px;
  background-color: #232323;
  opacity: 0.9;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
  position: relative;
  left: 250px;
  top: 60px;
}
.fourth .text-fourth h6 {
  font-size: 20px;
}
.fourth .text-fourth h5 {
  font-size: 23px;
}
.fourth .text-fourth p {
  line-height: 25px;
  font-size: 15px;
}
.fourth .text-fourth button {
  width: 156px;
  height: 56px;
  background-color: #5474FD;
  color: #ffffff;
  font-family: "Aleo", serif;
}

.fourth:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: url(../images/Rectangle414452.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #ffffff;
}

.fifth {
  max-width: 1770px;
  height: 685px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  padding: 20px;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}
.fifth h3 {
  font-size: 28px;
  font-family: "Aleo", serif;
}
.fifth .fith-img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-fifth {
  width: 581px;
  height: 287px;
  background-color: #333;
  padding-left: 20px;
}
.text-fifth h5 {
  font-size: 22px;
}
.text-fifth p {
  font-size: 15px;
  line-height: 25px;
}

.fifth:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: url(../images/man.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #ffffff;
}

footer {
  max-width: 1773px;
  height: 271px;
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
footer .footer-icons .linke {
  color: #5474FD;
}